.main-menu {
    margin-left: 15vw !important;
    margin-right: 15vw !important; 
}

.ui.modal > .header {
    background-color: #ff7b23 !important;
    color: white !important;
    justify-content: center !important;
    display: flex !important;
    font-size: 2rem;
}
.header-menu{
    height:6vh; 
    width: 100vw !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
    position: fixed;
    top:0;
} 

.center-header-div {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    width: 57vw !important;
    padding-top: 4rex;
}

.logo {
    width: 8vw;
    padding-left: 1rem;
}

.logo-v2{
    background-color: #1a799f !important;
    width: 7vw;
    display: flex !important;
    align-items: center;
    box-shadow:-4px 0px 0px 4px #1a799f !important;
}
.logo-v2>a>img{
    width: 5vw;
    height: 5vh;
    padding-left: 2vw;
}
.center-header-div> p {
    padding-right: 3rem;
    font-size: 20px !important;
}
.center-header-div> p:hover{
    color:#ff7b23;
    transition: 250ms ease-in;
    font-weight: 500;
}
.logout-menu{
    padding-right: 1vw !important;
    padding-top: 1.5vh !important;
}
.logout-menu> button{
    width: 2vw;
    height: 4vh;
    padding-right: 2rem !important;
    display: flex !important;
    align-items: center !important;
}