.sidebar-menu{
    padding-top: 1vh;
    height: 100vh;
    margin-top:0 !important;
    margin-bottom:0 !important;
    background-color: #125b76 !important;
    font-size: 1vw !important;
    width: 7vw !important;
    box-shadow:-4px 0px 0px 4px #125b76 !important;
    position: fixed;
    top: 6vh;
}
.sidebar-menu>a {
    color: white !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}
